<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdilab.aiflow.mapper.ExperimentRunningMapper" >

  <insert id="insertExperimentRunning" useGeneratedKeys="true" keyProperty="id" parameterType="com.bdilab.aiflow.model.ExperimentRunning">
        insert into experiment_running (id, fk_user_id,running_status, fk_experiment_id, is_deleted, start_time, end_time, run_id)
        values (#{id},#{fkUserId}, #{runningStatus}, #{fkExperimentId}, #{isDeleted}, #{startTime}, #{endTime}, #{runId})
    </insert>

  <!--selectAllExperimentRunningByExperimentId获取的试验运行记录is_Deleted为0或者1的-->
  <select id="selectAllExperimentRunningByExperimentId" parameterType="Integer" resultType="com.bdilab.aiflow.model.ExperimentRunning">
        select experiment_running.id as id,
        experiment_running.fk_user_id as fkUserId,
        experiment_running.running_status as runningStatus,
        experiment_running.fk_experiment_id as fkExperimentId,
        experiment_running.fk_model_id as fkModelId,
        experiment_running.is_deleted as isDeleted,
        experiment_running.start_time as startTime,
        experiment_running.end_time as endTime,
        experiment_running.run_id as runId,
        experiment_running.fk_dl_result_table_name as fkDlResultTableName,
        experiment_running.conversation_id as conversationId
        from experiment_running
        where experiment_running.fk_experiment_id = #{experimentId} order by id desc
    </select>

    <!--selectExperimentRunningByRunningId 通过实验运行id获取实验运行-->
    <select id="selectExperimentRunningByRunningId" parameterType="Integer" resultType="com.bdilab.aiflow.model.ExperimentRunning">
        select experiment_running.id as id,
        experiment_running.fk_user_id as fkUserId,
        experiment_running.running_status as runningStatus,
        experiment_running.fk_experiment_id as fkExperimentId,
        experiment_running.fk_model_id as fkModelId,
        experiment_running.is_deleted as isDeleted,
        experiment_running.start_time as startTime,
        experiment_running.end_time as endTime,
        experiment_running.run_id as runId,
        experiment_running.fk_dl_result_table_name as fkDlResultTableName,
        experiment_running.conversation_id as conversationId
        from experiment_running
        where experiment_running.id = #{runningId} order by id desc
    </select>

    <select id="selectRunningByExperimentIdAndIsDeleted" resultType="com.bdilab.aiflow.model.ExperimentRunning">
        select experiment_running.id as id,
        experiment_running.fk_user_id as fkUserId,
        experiment_running.running_status as runningStatus,
        experiment_running.fk_experiment_id as fkExperimentId,
        experiment_running.fk_model_id as fkModelId,
        experiment_running.is_deleted as isDeleted,
        experiment_running.start_time as startTime,
        experiment_running.end_time as endTime,
        experiment_running.run_id as runId,
        experiment_running.fk_dl_result_table_name as fkDlResultTableName,
        experiment_running.conversation_id as conversationId
        from experiment_running
        where experiment_running.fk_experiment_id = #{experimentId} and experiment_running.is_deleted = #{isDeleted} order by id desc
    </select>

    <select id="selectAllRunningByisDeleted" resultType="com.bdilab.aiflow.model.ExperimentRunning">
        select experiment_running.id as id,
        experiment_running.fk_user_id as fkUserId,
        experiment_running.running_status as runningStatus,
        experiment_running.fk_experiment_id as fkExperimentId,
        experiment_running.fk_model_id as fkModelId,
        experiment_running.is_deleted as isDeleted,
        experiment_running.start_time as startTime,
        experiment_running.end_time as endTime,
        experiment_running.run_id as runId,
        experiment_running.fk_dl_result_table_name as fkDlResultTableName,
        experiment_running.conversation_id as conversationId
        from experiment_running
        where experiment_running.fk_user_id=#{userId} and experiment_running.is_deleted = #{isDeleted}  order by id desc
    </select>

    <select id="selectRecentExperimentRunning" resultType="com.bdilab.aiflow.model.ExperimentRunning">
        select experiment_running.id as id,
        experiment_running.fk_user_id as fkUserId,
        experiment_running.running_status as runningStatus,
        experiment_running.fk_experiment_id as fkExperimentId,
        experiment_running.fk_model_id as fkModelId,
        experiment_running.is_deleted as isDeleted,
        experiment_running.start_time as startTime,
        experiment_running.end_time as endTime,
        experiment_running.run_id as runId,
        experiment_running.fk_dl_result_table_name as fkDlResultTableName,
        experiment_running.conversation_id as conversationId
        from experiment_running
        where experiment_running.fk_user_id = #{userId} order by experiment_running.start_time desc limit #{experimentRunningNum}
    </select>
    <!--更新Experiment信息-->
    <update id="updateExperimentRunning"  parameterType="com.bdilab.aiflow.model.ExperimentRunning">
        update experiment_running
        <trim prefix="set" suffixOverrides=",">
            <if test="runningStatus!=null">running_status=#{runningStatus},</if>
            <if test="fkModelId!=null">fk_model_id = #{fkModelId},</if>
            <if test="isDeleted!=null">is_deleted=#{isDeleted},</if>
            <if test="fkExperimentId!=null">fk_experiment_id=#{fkExperimentId},</if>
            <if test="startTime!=null">start_time=#{startTime},</if>
            <if test="endTime!=null">end_time=#{endTime},</if>
            <if test="runId!=null">run_id=#{runId},</if>
            <if test="fkDlResultTableName!=null">fk_dl_result_table_name=#{fkDlResultTableName},</if>
            <if test="conversationId!=null">conversation_id=#{conversationId}</if>
        </trim>
        where experiment_running.id=#{id}
    </update>

    <delete id="deleteRunningByRunningId" parameterType="Integer">
        delete from experiment_running
        where experiment_running.id=#{runningId}
    </delete>

    <select id="selectExperienceId" parameterType="Integer" resultType="Integer">
        select experiment_running.fk_experiment_id as fkExperimentId
        from experiment_running
        where experiment_running.id=#{runningId}
    </select>
</mapper>