<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdilab.aiflow.mapper.TemplateMapper">


    <insert id="insertTempalte" useGeneratedKeys="true" keyProperty="id" parameterType="com.bdilab.aiflow.model.Template">
        INSERT INTO template(name, type, fk_user_id, fk_experiment_id, fk_workflow_id, tags, is_deleted, workflow_addr, param_json_string, ggeditor_object_string,template_desc)
        VALUES (#{name}, #{type},#{fkUserId},#{fkExperimentId},#{fkWorkflowId},#{tags},#{isDeleted},#{workflowAddr}, #{paramJsonString},#{ggeditorObjectString}, #{templateDesc});
    </insert>

    <update id="updateTemplate" parameterType="com.bdilab.aiflow.model.Template">
        update template
        <set>
            <if test="name != null"> name = #{name},</if>
            <if test="type != null"> type = #{type},</if>
            <if test="fkUserId != null">fk_user_id = #{fkUserId},</if>
            <if test="fkWorkflowId != null"> fk_workflow_id = #{fkWorkflowId},</if>
            <if test="fkExperimentId != null"> fk_experiment_id = #{fkExperimentId},</if>
            <if test="tags != null">tags = #{tags},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="workflowAddr != null">workflow_addr = #{workflowAddr},</if>
            <if test="paramJsonString != null"> param_json_string = #{paramJsonString},</if>
            <if test="ggeditorObjectString != null">ggeditor_object_string = #{ggeditorObjectString},</if>
            <if test="templateDesc != null">template_desc = #{templateDesc}</if>
        </set>
        where id = #{id}
    </update>




    <!--将fkRunningId为null-->
    <update id="updateRunningIdNull"  parameterType="Integer">
        update template
        set template.fk_experiment_id=null
        where template.fk_experiment_id=#{experimentId}
    </update>



    <update id="updateTemplateIsDeleted" parameterType="com.bdilab.aiflow.model.Template">
        update template
        <set>
            <if test="isDeleted != null">is_deleted = #{isDeleted}</if>
        </set>
        where id = #{id}
    </update>

    <update id="updateTemplateParamJsonString" parameterType="com.bdilab.aiflow.model.Template">
        update template
        <set>
            fk_experiment_id = null,
            <if test="paramJsonString != null"> param_json_string = #{paramJsonString}</if>
        </set>
        where id = #{id}
    </update>


    <select id="selectTemplateById" parameterType="Integer" resultType="com.bdilab.aiflow.model.Template">
        select template.id as id,
               template.name as name,
               template.type as type,
               template.fk_user_id as fkUserId,
               template.fk_workflow_id as fkWorkflowId,
               template.fk_experiment_id as fkExperimentId,
               template.tags as tags,
               template.is_deleted as isDeleted,
               template.workflow_addr as workflowAddr,
               template.param_json_string as paramJsonString,
               template.ggeditor_object_string as ggeditorObjectString,
               template.template_desc as templateDesc
        from template
        where template.id= #{templateId}
    </select>



    <select id="selectAllTemplate" parameterType="com.bdilab.aiflow.model.Template" resultType="com.bdilab.aiflow.model.Template">
        select template.id as id,
                template.name as name,
                template.type as type,
                template.fk_user_id as fkUserId,
                template.fk_workflow_id as fkWrokflowId,
                template.fk_experiment_id as fkExperimentId,
                template.tags as tags,
                template.is_deleted as isDeleted,
                template.workflow_addr as workflowAddr,
                template.param_json_string as paramJsonString,
                template.ggeditor_object_string as ggeditorObjectString,
                template.template_desc as templateDesc
        from template
        where template.id=template.id
        <if test="type != null"> and template.type= #{type}</if>
        <if test="fkUserId != null"> and template.fk_user_id= #{fkUserId}</if>
        <if test="fkWorkflowId != null"> and template.fk_workflow_id= #{fkWorkflowId}</if>
        <if test="isDeleted != null"> and template.is_deleted = #{isDeleted}</if>
        <if test="name != null"> and template.name = #{name}</if>
        <if test="tags != null"> and template.tags = #{tags}</if>
    </select>

    <select id="fuzzySelectAllTemplate" parameterType="com.bdilab.aiflow.model.Template" resultType="com.bdilab.aiflow.model.Template">
        select template.id as id,
        template.name as name,
        template.type as type,
        template.fk_user_id as fkUserId,
        template.fk_workflow_id as fkWrokflowId,
        template.fk_experiment_id as fkExperimentId,
        template.tags as tags,
        template.is_deleted as isDeleted,
        template.workflow_addr as workflowAddr,
        template.param_json_string as paramJsonString,
        template.ggeditor_object_string as ggeditorObjectString,
        template.template_desc as templateDesc
        from template
        where template.id=template.id
        <if test="type != null"> and template.type= #{type}</if>
        <if test="fkUserId != null"> and template.fk_user_id = #{fkUserId}</if>
        <if test="fkWorkflowId != null"> and template.fk_workflow_id = #{fkWorkflowId}</if>
        <if test="isDeleted != null"> and template.is_deleted = #{isDeleted}</if>
        <if test="name != null"> and template.name like CONCAT('%',#{name},'%')</if>
        <if test="tags != null"> and template.tags like CONCAT('%',#{tags},'%')</if>
        <if test="templateDesc != null"> and template.template_desc like CONCAT('%',#{templateDesc},'%')</if>
    </select>


    <delete id="deleteTemplateById" parameterType="Integer">
        delete from template
        where template.id = #{templateId}
    </delete>

    <select id="selectTemplateByExperimentId" parameterType="Integer" resultType="Integer">
        select template.id from template
        where template.fk_experiment_id=#{experimentId}
    </select>

    <select id="selectTemplateByWorkflowId" parameterType="Integer" resultType="Integer">
        select template.id from template
        where template.fk_workflow_id=#{workflowId}
    </select>
</mapper>