<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdilab.aiflow.mapper.WorkflowMapper">
    <insert id="insertWorkflow" useGeneratedKeys="true" keyProperty="id" parameterType="com.bdilab.aiflow.model.Workflow">
        INSERT INTO workflow(name,fk_user_id,tags,is_deleted,workflow_xml_addr,ggeditor_object_string,generate_pipeline_addr,pipeline_yaml_addr,pipeline_id,fk_custom_component_ids,is_custom,create_time,workflow_desc,is_ml) VALUES (#{name},#{fkUserId},#{tags},#{isDeleted},#{workflowXmlAddr},#{ggeditorObjectString},#{generatePipelineAddr},#{pipelineYamlAddr},#{pipelineId},#{fkCustomComponentIds},#{isCustom},#{createTime},#{workflowDesc},#{isMl});
    </insert>

    <update id="updateWorkflow" parameterType="com.bdilab.aiflow.model.Workflow">
        update workflow
        <set>
            <if test="name != null"> name = #{name},</if>
            <if test="fkUserId != null">fk_user_id = #{fkUserId},</if>
            <if test="tags != null">tags = #{tags},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="workflowXmlAddr != null">workflow_xml_addr = #{workflowXmlAddr},</if>
            <if test="ggeditorObjectString != null">ggeditor_object_string = #{ggeditorObjectString},</if>
            <if test="generatePipelineAddr != null">generate_pipeline_addr = #{generatePipelineAddr},</if>
            <if test="pipelineYamlAddr != null">pipeline_yaml_addr = #{pipelineYamlAddr},</if>
            <if test="pipelineId != null">pipeline_id = #{pipelineId},</if>
            <if test="fkCustomComponentIds != null">fk_custom_component_ids = #{fkCustomComponentIds},</if>
            <if test="isCustom != null">is_custom = #{isCustom},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="workflowDesc != null">workflow_desc = #{workflowDesc}</if>
        </set>
        where id = #{id}
    </update>

    <update id="updateWorkflowIsDeleted" parameterType="com.bdilab.aiflow.model.Workflow">
        update workflow
        <set>
            <if test="isDeleted != null">is_deleted = #{isDeleted}</if>
        </set>
        where id = #{id}
    </update>

    <select id="selectWorkflowById" parameterType="Integer" resultType="com.bdilab.aiflow.model.Workflow">
        select workflow.id as id,
               workflow.name as name,
               workflow.fk_user_id as fkUserId,
               workflow.tags as tags,
               workflow.is_deleted as isDeleted,
               workflow.workflow_xml_addr as workflowXmlAddr,
               workflow.ggeditor_object_string as ggeditorObjectString,
               workflow.generate_pipeline_addr as generatePipelineAddr,
               workflow.pipeline_yaml_addr as pipelineYamlAddr,
               workflow.pipeline_id as pipelineId,
               workflow.fk_custom_component_ids as fkCustomComponentIds,
               workflow.is_custom as isCustom,
               workflow.create_time as createTime,
               workflow.workflow_desc as workflowDesc,
               workflow.is_ml as isMl
        from workflow
        where workflow.id= #{workflowId}
    </select>

    <select id="selectWorkflowByUserId" parameterType="Integer" resultType="com.bdilab.aiflow.model.Workflow">
        select workflow.id as id,
               workflow.name as name,
               workflow.fk_user_id as fkUserId,
               workflow.tags as tags,
               workflow.is_deleted as isDeleted,
               workflow.workflow_xml_addr as workflowXmlAddr,
               workflow.ggeditor_object_string as ggeditorObjectString,
               workflow.generate_pipeline_addr as generatePipelineAddr,
               workflow.pipeline_yaml_addr as pipelineYamlAddr,
               workflow.pipeline_id as pipelineId,
               workflow.fk_custom_component_ids as fkCustomComponentIds,
               workflow.is_custom as isCustom,
               workflow.create_time as createTime,
               workflow.workflow_desc as workflowDesc,
               workflow.is_ml as isMl
        from workflow
        where workflow.fk_user_id= #{userId}
    </select>

    <select id="selectAllWorkflow" parameterType="com.bdilab.aiflow.model.Workflow" resultType="com.bdilab.aiflow.model.Workflow">
         select workflow.id as id,
                workflow.name as name,
                workflow.fk_user_id as fkUserId,
                workflow.tags as tags,
                workflow.is_deleted as isDeleted,
                workflow.workflow_xml_addr as workflowXmlAddr,
                workflow.ggeditor_object_string as ggeditorObjectString,
                workflow.generate_pipeline_addr as generatePipelineAddr,
                workflow.pipeline_yaml_addr as pipelineYamlAddr,
                workflow.pipeline_id as pipelineId,
                workflow.fk_custom_component_ids as fkCustomComponentIds,
                workflow.is_custom as isCustom,
                workflow.create_time as createTime,
                workflow.workflow_desc as workflowDesc,
                workflow.is_ml as isMl
        from workflow
        where workflow.fk_user_id= #{fkUserId}
        <if test="isDeleted != null"> and workflow.is_deleted = #{isDeleted}</if>
        <if test="name != null"> and workflow.name = #{name}</if>
        <if test="tags != null"> and workflow.tags = #{tags}</if>
        order by createTime desc
    </select>

    <delete id="deleteWorkflowById" parameterType="Integer">
        delete from workflow
        where workflow.id = #{workflowId}
    </delete>

    <select id="fuzzySelectWorkflowByName" resultType="com.bdilab.aiflow.model.Workflow">
        select *
        from workflow
        where workflow.is_deleted=0 and workflow.fk_user_id=#{userId}
        <if test="workflowName!=null">and workflow.name like '%${workflowName}%'</if>
        order by create_time desc
    </select>

    <select id="fuzzySelectWorkflowByTags" resultType="com.bdilab.aiflow.model.Workflow">
        select *
        from workflow
        where workflow.is_deleted=0 and workflow.fk_user_id=#{userId}
        <if test="workflowTags!=null">and workflow.tags like '%${workflowTags}%'</if>
        order by create_time desc
    </select>


</mapper>